
.header{
	display: inline;
	float: left;
}
#sign-up{
	display: inline-block;
	padding-top: 0px;
	padding-left: auto;
	padding-right: auto;

}
#Ins-conn{
	float: right;
	display: inline-block;
	padding-top: 0px;
	padding-left: auto;
	padding-right: auto;
}
#Login{
	display: inline-block;
	padding-left: 200%;
}
h2 {
	text-align: right;
}
